.example-card {
    max-width: inherit;
    align-content: center;
    margin: 50px 100px 100px 100px;
  }

.card-title{
    text-align: center;
}

.state-toggle{
  text-align: flex-end;
  margin:  10px 10px;
}